*{
    margin: 0px;
    padding: 0px;
}

#nav-bar  {

    position: sticky;
    top:0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right,rgb(99, 14, 236),rgb(6, 48, 77));
    padding: 0px;
}

.navbar a{
    color:white !important;
}

.navbar-brand img{
    margin-left: 20px;
    height: 70px;
    width: 78px;
}

.navbar-nav a
{
    margin: 0px 18px;
    font-size: 20px;


}

.navbar-nav a:hover{
    color:gray !important;
}

.navbar-toggler
{
    outline: none !important;
}
/* ------------------ banner here -----------------*/
.fa-bars{
    color:white;
    font-size: 30px !important;
}



#banner
{
    background-image: linear-gradient(to right,rgb(99, 14, 236),rgb(6, 48, 77));
    color:white;
    padding-top: 9%;
    padding-bottom: 40px;
}

/*--------------- services here --------------*/

#services{
    padding: 66px 0px;
}
 #services img{
     height: 220px;
     width: 340px;
 }
.col-md-4 h3{
    padding: 12px 0px;
}

.col-md-4 p{
    text-align: justify;
}


.services{
    padding:20px;
}

.title::before{
    content: '';
    background: linear-gradient(to right,rgb(99, 14, 236),rgb(6, 48, 77));
    height: 5px;
    width: 220px;
    display: block;
    margin-left:auto ;
    margin-right: auto;
    transform: translateY(64px);

}
.title::after{
    content: '';
    background: linear-gradient(to right,rgb(99, 14, 236),rgb(6, 48, 77));
    height: 10px;
    width: 40px;
    display: block;
    margin-left:auto ;
    margin-right: auto;
    /* margin-bottom: 13px; */
    transform: translateY(8px);

}

#services .btn-primary
{
    box-shadow: none;
    border-radius: 24px;
    border: none;
    padding: 12px 29px;
    background: linear-gradient(to right,rgb(99, 14, 236),rgb(6, 48, 77));
    

}

/*---------------- about us section----------------- */

#about-us{
    background-color: rgb(228, 242, 248);
    margin: 30px 0px;
}

#about-us .abt-us{
    margin-bottom: 40px;
}

#about-us ul li{
    margin: 15px  0px;

}

#about-us ul{
    margin-left: 16px;
}

.row{
    margin-top: 8%;
}



/* ------------ testimonial here -------------- */


#testimonials{
    margin:100px 0px;
}

.testimonial{
    border-left: 5px solid rgb(57, 57, 116);
    margin-top: 50px;
    margin-bottom: 50px;
}


.testimonial img{
    border-radius: 50%;
    height: 100px;
    width: 110px;
    margin: 0px 10px;
}

.inblock{
    display: inline-block;
}



/* ---------------- social media --------------- */

#social-media{
    background-color: rgb(229, 229, 236);
    padding: 100px 0px;
}

.social-icons img{

    width: 60px;
    margin :8px;
    transition: 0.5s;
}


.social-icons a:hover img{

    transform: translateY(-10px);
}


/* ----------------footer section--------------- */

#footer img{
    width: 90px;
    margin-bottom: 20px;
}

#footer h2{
    margin-top: 20px;
    margin-bottom: 50px;
}

#footer .fa{
    margin-right: 8px;
    font-size: 22px;

}
.copyright{
    margin-bottom: 0px;
    padding-top: 16px;
    text-align: center;
}























